# FastAPI Configuration
SECRET_KEY=9e222fe9-652f-4a63-afab-1909f76d4c5e
DEBUG=False

# Database Configuration
DATABASE_URL=sqlite:///./app/db/dtcomb_data.db

# Admin Credentials (Change these!)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=adminPasword

# R Configuration
R_HOME=/usr/lib/R

# Server Configuration
HOST=0.0.0.0
PORT=3838

