{% extends "layout.html" %}
{% block head %}
<!-- CodeMirror -->
<link rel="stylesheet" href="static/plugins/codemirror/codemirror.css">
<link rel="stylesheet" href="static/plugins/codemirror/theme/monokai.css">
{% endblock %}
{% block content %}
<div class="row mb-5">

    <div class="col-12">
        <a href="/logout" class="btn btn-primary btn-block">Logout</a>
    </div>
    <!-- /.col -->
</div>
<div id="pageBody" class="col-12">

</div>

<div class="col-md-12">
    <div class="card card-outline card-info">
        <div class="card-header">
            <h3 class="card-title">
                CodeMirror
            </h3>
            <button class="btn btn-primary float-right" onclick="getAllData()">Tüm verileri getir</button>

        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <textarea id="allData" class="p-3"></textarea>
        </div>
    </div>
</div>

<div class="col-md-12" style="display: none">
    <div class="card card-outline card-info">
        <div class="card-header">
            <h3 class="card-title">
                CodeMirror
            </h3>
            <button class="btn btn-primary float-right" onclick="runSql()" style="display: none" disabled>Çalıştır
            </button>

        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <textarea id="sqlQueryArea" class="p-3"></textarea>
        </div>
    </div>
</div>
<!-- /.col-->
{% endblock %}


{% block scripts %}
<!-- CodeMirror -->
<script src="static/plugins/codemirror/codemirror.js"></script>
<script src="static/plugins/codemirror/mode/css/css.js"></script>
<script src="static/plugins/codemirror/mode/sql/sql.js"></script>
<script>
    let pageHistory = [];
    let functionTable;
    let methodTable;
    const functionBaseUrl = "admin-functions";
    const methodBaseUrl = "admin-methods";
    const parameterBaseUrl = "admin-parameters";

    function loadPage(url = functionBaseUrl, title = "") {
        pageHistory.push({url: url, title: title});
        console.log(pageHistory)

        $.ajax({
            url: url,
            type: 'GET',
            cache: false,
            success: function (response) {
                $('#pageBody').html(response);
                $('#cardTitle').text(title + " - " + $('#cardTitle').text());
            }
        })
    }

    function goBack() {
        if (pageHistory.length > 0) {
            pageHistory.pop();
            let lastPage = pageHistory.pop();
            loadPage(lastPage.url, lastPage.title);
        } else {
            loadPage(); // Ana sayfaya dön
        }
    }

    // CodeMirror
    const sqlEditor = CodeMirror.fromTextArea(document.getElementById("allData"), {
        mode: "sql",
        theme: "monokai",
        lineNumbers: true // Genelde SQL için kullanışlıdır
    });

    const sqlQueryArea = CodeMirror.fromTextArea(document.getElementById("sqlQueryArea"), {
        mode: "sql",
        theme: "monokai",
        lineNumbers: true // Genelde SQL için kullanışlıdır
    });

    function getAllData() {
        $.ajax({
            url: 'get-all-data',
            type: 'GET',
            contentType: 'application/json',
            success: function (response) {
                sqlEditor.setValue(response);
            },
            error: function (xhr) {
                Swal.fire('Hata', 'Kayıt sırasında bir sorun oluştu: ' + xhr.responseText, 'error');
            }
        });
    }

    function runSql() {
        $.ajax({
            url: 'run-sql',
            type: 'POST',
            data: {data: sqlQueryArea.getValue()}, // jQuery bunu otomatik form-urlencoded yapar
            success: function (response) {
                Swal.fire('Başarılı', 'Sorgu çalıştırıldı', 'success');
            },
            error: function (xhr) {
                Swal.fire('Hata', 'Kayıt sırasında bir sorun oluştu: ' + xhr.statusText, 'error');
            }
        });
    }
</script>
<script>
    //function operations

    $(document).ready(function () {
        loadPage("admin-functions");
    });


</script>

{% endblock %}
