{% extends "layout.html" %}

{% block title %}Analiz Sayfası - {{ title }}{% endblock %}
{% block pageTitle %}Analysis{{ pageTitle }}{% endblock %}

{% block content %}

<div class="col-md-3">

    <!-- Profile Image -->
    <div class="card card-primary card-outline">
        <div class="card-body box-profile">


            <div class="card-body" style="padding: 0.25rem !important;">
                <div class="row">
                    <div class="form-group" style="width: 100%;">
                        <label for="functions">Combination approach</label>
                        <select id="functions" class="form-control select2bs4" style="width: 100%;">
                            {% for col in functions %}
                            <option value="{{ col.Name }}" data-id="{{ col.Id }}" {% if loop.first %}selected{% endif
                                    %}>
                                {{ col.Value }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group" style="width: 100%;">
                        <label for="methods">Combination Method</label>
                        <select id="methods" class="form-control select2bs4" style="width: 100%;">
                            {% for col in methods %}
                            <option value="{{ col.Name }}" data-id="{{ col.Id }}" {% if loop.first %}selected{% endif
                                    %}>
                                {{ col.Value }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- /.form-group -->
                </div>
                <div id="dynamic-method-parameters-container" class="row" style="display: none;">
                </div>
                <div id="dynamic-function-parameters-container" class="row" style="display: none;">
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" name="advancedCheckBox"
                               id="advancedCheckBox" value="Advanced">
                        <label for="advancedCheckBox" class="custom-control-label">Advanced</label>
                    </div>
                </div>
                <!-- /.form-group -->
                <div class="form-group advancedCheckBox" style="display: none;">
                    <label for="confidenceLevel">Confidence Level</label>
                    <input type="number" id="confidenceLevel" class="form-control" step="0.01" value="0.95"
                           style="width: 100%;">
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.card-body -->

            <div class="form-group row">
                <button type="button" id="collect-data" class="btn btn-primary">Go</button>
            </div>


        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</div>
<!-- /.col -->
<div class="col-md-9">
    <div class="card">

        <div class="card-body">
            <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="custom-content-below-results-tab" data-toggle="pill"
                       href="#custom-content-below-results" role="tab"
                       aria-controls="custom-content-below-results"
                       aria-selected="true">Results</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="custom-content-below-plots-tab" data-toggle="pill"
                       href="#custom-content-below-plots" role="tab"
                       aria-controls="custom-content-below-plots" aria-selected="false">Plots</a>
                </li>
            </ul>
            <div class="tab-content" id="custom-content-below-tabContent">
                <div class="tab-pane fade show active" id="custom-content-below-results" role="tabpanel"
                     aria-labelledby="custom-content-below-results-tab">The "Analysis" tab should be used for
                    analysis to combine two diagnostic
                    test markers. If you want to evaluate the performance of a single diagnostic test or compare
                    the performance of more than one diagnostic test, the "ROC Analysis for Single Marker(s)"
                    tab should be selected.
                    <!-- /.card-header -->
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->


                </div>
                <div class="tab-pane fade" id="custom-content-below-plots" role="tabpanel"
                     aria-labelledby="custom-content-below-plots-tab">
                    <div class="col-md-12">

                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </div><!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->

{% endblock %}


{% block scripts %}

<script src="./static/js/indexed-db-manager.js"></script>
<script>
    let dataTableSettings = {
        "responsive": true,
        "lengthChange": true,
        "autoWidth": false,
        "dom": "<'row'<'col-sm-12 col-md-8 d-flex align-items-center'B l><'col-sm-12 col-md-4 text-right'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        "buttons": [
            {
                extend: 'copy',
                className: 'btn btn-custom-color btn-sm' // 'btn-custom-color' özel sınıfımız
            },
            {extend: 'csv', className: 'btn btn-custom-color btn-sm'},
            {extend: 'excel', className: 'btn btn-custom-color btn-sm'},
            {extend: 'pdf', className: 'btn btn-custom-color btn-sm'},
            {extend: 'print', className: 'btn btn-custom-color btn-sm'}
        ],
        "language": {"lengthMenu": "_MENU_", "search": "Search:"}
    };
    $(function () {
        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4',
            placeholder: "Please select...", // Görünecek metin
            allowClear: true // Kullanıcının seçimi temizleyebilmesine izin verir
        })
    })


    $(document).on('change', '#functions', function () {

        var selectedOption = $(this).find('option:selected');

        // Yöntem A: data() fonksiyonu ile (Önerilen)
        var dataId = selectedOption.data('id');

        $.ajax({
            url: '/get-methods',
            method: 'POST',
            data: {id: dataId},
            success: function (response) {
                let $methodsSelect = $('#methods');
                $methodsSelect.empty();

                if (response && response.length > 0) {
                    let selectedValue = true
                    response.forEach(item => {
                        // 1. Seçeneği oluştur: new Option(text, value)
                        let newOption = new Option(item.Value, item.Name, selectedValue, selectedValue);

                        // 2. jQuery ile seçeneğe data attribute ekle
                        $(newOption).attr('data-id', item.Id);

                        // 3. Dropdown menüsüne ekle
                        $methodsSelect.append(newOption);
                        selectedValue = false;
                    });
                }
                $methodsSelect.trigger('change');
            }
        });
    });

    function renderDynamicParameters(data) {
        const container = $('#dynamic-function-parameters-container');
        container.empty(); // Önceki parametreleri temizle

        if (!data || data.length === 0) {
            container.hide();
            return;
        }

        container.show();

        data.forEach(param => {
            let formElement = '';

            if (param.InputType === 'select') {
                // Select kutusunu oluştur
                let optionsHtml = param.Options.map(opt =>
                    `<option value="${opt.Name}">${opt.Value}</option>`
                ).join('');

                formElement = `
                <div class="form-group" style="width: 100%;">
                    <label for="${param.Name}">${param.Label}</label>
                    <select id="${param.Name}" name="${param.Name}" class="form-control select2bs4 dynamic-input">
                        ${optionsHtml}
                    </select>
                </div>`;
            }
            // İleride 'text' veya 'number' tipi eklemek isterseniz buraya else if ekleyebilirsiniz

            container.append(formElement);
        });

        // Select2 kullanıyorsanız yeni eklenen elementleri başlatın
        $('.select2bs4').select2({theme: 'bootstrap4'});
    }

    $(document).ready(function () {
        // 1. Sayfa ilk açıldığında seçili olan ana kategoriyi al
        const initialFunctionId = $('#functions').find(':selected').data('id');

        // 2. Eğer bir ID varsa parametreleri getir
        if (initialFunctionId) {
            fetchAndRenderParams(initialFunctionId);
        }
    });

    // Ortak fonksiyon: Hem açılışta hem de değişimde kullanılır
    function fetchAndRenderParams(functionId) {
        $.ajax({
            url: '/get-functions-params',
            method: 'POST',
            data: {functionId: functionId},
            success: function (response) {
                renderDynamicParameters(response);
                const initialMethodId = $('#methods').find(':selected').data('id');
                // 2. Eğer bir ID varsa parametreleri getir
                if (initialMethodId) {
                    loadMethodParameters(initialMethodId);
                }
            },
            error: function () {
                $('#dynamic-function-parameters-container').hide().empty();
            }
        });
    }

    // 3. Kullanıcı manuel değiştirdiğinde de çalışması için:
    $('#functions').on('change', function () {
        const selectedId = $(this).find(':selected').data('id');
        if (selectedId) {
            fetchAndRenderParams(selectedId);
        }
    });

    function renderMethodParameters(parameters, container = $('#dynamic-method-parameters-container')) {
        if (parameters.length == 0) {
            container.hide();
            return;
        }
        parameters.forEach(param => {
            let html = '';

            // Form grubu başlangıcı
            html += `<div class="form-group" style="width: 100%;" id="wrapper-${param.Name}">
                    <label>${param.Label}</label>`;

            if (param.InputType === 'select') {
                // Dropdown (Select) oluşturma

                let options = param.Options.map(opt => {
                    // Koşul: Eğer opsiyonun Name veya Value değeri varsayılan değer ile eşleşiyorsa 'selected' metnini ata
                    const isSelected = (opt.Name === param.DefaultValue || opt.Value === param.DefaultValue) ? 'selected' : '';

                    return `<option value="${opt.Name}" data-id="${opt.Id}" ${isSelected}>${opt.Value}</option>`;
                }).join('');
                html += `<select name="${param.Name}" class="form-control select2bs4 method-dynamic-input"
                        data-parent="${param.ParentParameterId || ''}">
                        ${options}
                    </select>`;

                html += `<div id="dynamic-method-parameters-sub-container" class="mt-3" style="display: none;">
                </div>`;


            } else if (param.InputType === 'number') {
                // Sayısal girdi oluşturma
                html += `<input type="number" name="${param.Name}" class="form-control method-dynamic-input"
                        value="${param.DefaultValue || ''}"
                        min="${param.Min || ''}"
                        max="${param.Max || ''}">`;
            } else if (param.InputType === 'radio') {


                // Dropdown (Select) oluşturma
                let options = param.Options.map(opt => {
                    // Koşul: Eğer opsiyonun Name veya Value değeri varsayılan değer ile eşleşiyorsa 'selected' metnini ata
                    const isSelected = (opt.Name === param.DefaultValue || opt.Value === param.DefaultValue) ? 'checked' : '';
                    return `<div class="custom-control custom-radio">
                        <input class="custom-control-input method-dynamic-input" type="radio" data-parent="${param.ParentParameterId || ''}" id="${opt.Name}" name="${param.Name}"
                               value="${opt.Value}" ${isSelected}>
                        <label for="${opt.Name}" class="custom-control-label"
                               style="font-weight: 400 !important;">${opt.Value}</label>
                    </div>`
                }).join('');

                html += `${options}`;

            }

            html += `</div>`;


            container.append(html);
        });

        // Select2'yi tekrar başlat (Bootstrap 4 temasıyla)
        $('.select2bs4').select2({theme: 'bootstrap4'});
    }

    $(document).on('change', '.method-dynamic-input', function () {
        const currentParamName = $(this).attr('name');
        // 1. Seçilen option içindeki data-id değerini al
        const parentIdFromData = $(this).find(':selected').data('id');

        // 2. Eğer bir ID varsa alt parametreleri yükle
        if (parentIdFromData) {
            // loadMethodParameters fonksiyonuna bu ID'yi gönderiyoruz
            loadMethodParameters(null, parentIdFromData);
        }
    });


    function loadMethodParameters(methodId = null, parentId = null) {
        // Form verisi (FormData) hazırlığı
        let formData = new FormData();
        if (methodId) {
            formData.append('method_id', methodId);
        }
        if (parentId) {
            formData.append('parent_id', parentId);
        }

        $.ajax({
            url: '/get-methods-params',
            type: 'POST',
            data: formData,
            processData: false, // FormData kullanımı için gerekli
            contentType: false, // FormData kullanımı için gerekli
            success: function (response) {
                const container = $('#dynamic-method-parameters-container');
                if (methodId) {
                    container.empty(); // Temizle
                    container.show();
                    // Daha önce yazdığımız render fonksiyonunu çağır
                    renderMethodParameters(response, container);
                }
                if (parentId) {
                    // Eğer parentId üzerinden gelindiyse, alt parametreler için ayrı bir container kullanabiliriz
                    const subContainer = $('#dynamic-method-parameters-sub-container');
                    subContainer.empty(); // Temizle
                    subContainer.show();
                    renderMethodParameters(response, subContainer);
                }


            },
            error: function (xhr) {
                console.error("Parametreler yüklenirken hata oluştu:", xhr.responseText);
                $('#dynamic-method-parameters-container').empty().append('<p class="text-danger">Parametreler yüklenemedi.</p>');
            }
        });
    }

    // Örnek Kullanım: Metot dropdown'ı değiştiğinde
    $('#methods').on('change', function () {
        // Seçilen metodun Id'sini al (Örn: Ridge Regression -> 99)
        const selectedMethodId = $(this).find(':selected').data('id');
        if (selectedMethodId) {
            loadMethodParameters(selectedMethodId);
        }
    });

    $('#collect-data').on('click', function () {
        // 1. Temel analiz bilgilerini al
        let payload = collectAllData()

        console.log("R Motoruna gidecek paket:", payload);

        // 3. Veriyi Backend'e (FastAPI) gönder
        //sendToAnalysis(payload);
    });

    async function collectAllData() {
        // 1. IndexedDB'den asıl veriyi oku
        const tableData = await dbManager.get();

        if (!tableData) {
            Swal.fire('Hata', 'Hafızada veri bulunamadı, lütfen dosyayı tekrar yükleyin.', 'error');
            return;
        }

        // 2. Parametreleri ve tablo verisini birleştir
        let payload = {
            function_name: $('#functions').val(),
            method_name: $('#methods').val(),
            full_data: tableData, // Tüm tabloyu buraya ekliyoruz
            parameters: {}
        };

        // Dinamik inputları topla
        $('.dynamic-input, .method-dynamic-input').each(function () {
            const name = $(this).attr('name');
            const val = $(this).val();
            if (name) payload.parameters[name] = val;
        });
        return payload;
    }

    function sendToAnalysis(data) {
        $.ajax({
            url: '/run-analysis', // FastAPI'deki analiz endpointiniz
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (response) {
                Swal.fire('Başarılı!', 'Analiz başlatıldı ve R motoruna iletildi.', 'success');
                // Sonuçları burada işleyebilirsiniz (Grafik çizdirme vb.)
            },
            error: function (xhr) {
                Swal.fire('Hata!', 'Analiz sırasında bir sorun oluştu: ' + xhr.responseText, 'error');
            }
        });
    }
</script>
{% endblock %}