{% extends "layout.html" %}

{% block title %}Data upload Sayfası - {{ title }}{% endblock %}
{% block pageTitle %}Dataupload{{ pageTitle }}{% endblock %}

{% block content %}

<div class="row" style="">
    <div class="col-md-3 fixed-sidebar" style="">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">


                <div class="card-body" style="padding: 0.25rem !important;">

                    <div class="form-group">
                        <label>Input data</label>

                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="dataInputRadio1" name="dataInputRadio"
                                   value="upload">
                            <label for="dataInputRadio1" class="custom-control-label"
                                   style="font-weight: 400 !important;">Upload
                                a file</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="dataInputRadio2" name="dataInputRadio"
                                   value="example"
                                   checked>
                            <label for="dataInputRadio2" class="custom-control-label"
                                   style="font-weight: 400 !important;">Load
                                example data</label>
                        </div>
                    </div>


                    <div class="form-group" id="delimiterOptions" style="display: none;">
                        <div class="input-group mb-2">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="exampleInputFile">
                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                            </div>
                        </div>
                        <label>Delimiter</label>
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="delimiterRadio1" name="delimiterRadio"
                                   value="comma" checked>
                            <label for="delimiterRadio1" class="custom-control-label"
                                   style="font-weight: 400 !important;">Comma</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="delimiterRadio2" name="delimiterRadio"
                                   value="tab">
                            <label for="delimiterRadio2" class="custom-control-label"
                                   style="font-weight: 400 !important;">Tab</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="delimiterRadio3" name="delimiterRadio"
                                   value="semicolon">
                            <label for="delimiterRadio3" class="custom-control-label"
                                   style="font-weight: 400 !important;">Semicolon</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="delimiterRadio4" name="delimiterRadio"
                                   value="space">
                            <label for="delimiterRadio4" class="custom-control-label"
                                   style="font-weight: 400 !important;">Space</label>
                        </div>

                        <div class="mt-2">
                            <small class="text-muted" style="display: block; line-height: 1.4;">
                                <i class="fas fa-info-circle mr-1"></i>
                                You can upload your data separated by comma, tab, semicolon or space.
                            </small>
                            <small class="text-muted" style="display: block; font-weight: 500;">
                                <strong> Note:</strong> First row must be the header including the variable names.
                            </small>
                        </div>
                    </div>
                    <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-content-below-analysis-tab" data-toggle="pill"
                               href="#custom-content-below-analysis" role="tab"
                               aria-controls="custom-content-below-analysis"
                               aria-selected="true" data-key="analysis">Analysis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-content-below-roc-analysis-tab" data-toggle="pill"
                               href="#custom-content-below-roc-analysis" role="tab"
                               aria-controls="custom-content-below-roc-analysis" aria-selected="false"
                               data-key="roc-analysis">ROC Analysis for
                                Single Marker(s)</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="custom-content-below-tabContent">
                        <div class="tab-pane fade show active" id="custom-content-below-analysis" role="tabpanel"
                             aria-labelledby="custom-content-below-analysis-tab">The "Analysis" tab should be used for
                            analysis to combine two diagnostic
                            test markers. If you want to evaluate the performance of a single diagnostic test or compare
                            the performance of more than one diagnostic test, the "ROC Analysis for Single Marker(s)"
                            tab should be selected.
                            <!-- /.card-header -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="marker1">Marker 1</label>
                                        <select id="marker1" class="form-control select2bs4" style="width: 100%;">
                                            <option value="" selected disabled>Please select...</option>

                                        </select>
                                    </div>

                                    <!-- /.form-group -->
                                    <div class="form-group">
                                        <label for="marker2">Marker 2</label>
                                        <select id="marker2" class="form-control select2bs4" style="width: 100%;">
                                            <option value="" selected disabled>Please select...</option>


                                        </select>
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group">
                                        <label for="status">Status</label>
                                        <select id="status" class="form-control select2bs4" style="width: 100%;">
                                            <option value="" selected disabled>Please select...</option>


                                        </select>
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group">
                                        <label for="category">Select category for cases</label>
                                        <select id="category" class="form-control select2bs4" style="width: 100%;">
                                            <option value="" selected disabled>Please select...</option>


                                        </select>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->


                        </div>
                        <div class="tab-pane fade" id="custom-content-below-roc-analysis" role="tabpanel"
                             aria-labelledby="custom-content-below-roc-analysis-tab">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Select markers (*)</label>
                                    <select name="markersRoc" id="markersRoc" class="select2bs4" multiple="multiple"
                                            data-placeholder="Please select..."
                                            style="width: 100%;">


                                    </select>
                                    <div class="mt-1">
                                        <small class="text-muted" style="display: block; font-weight: 500;">
                                            <strong> Note:</strong> A maximum of 8 markers can be selected.
                                        </small>
                                    </div>
                                </div>
                                <!-- /.form-group -->

                                <div class="form-group">
                                    <label for="statusRoc">Status</label>
                                    <select id="statusRoc" class="form-control select2bs4" style="width: 100%;">
                                        <option value="" selected disabled>Please select...</option>


                                    </select>
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <label for="categoryRoc">Select category for cases</label>
                                    <select id="categoryRoc" class="form-control select2bs4" style="width: 100%;">
                                        <option value="" selected disabled>Please select...</option>


                                    </select>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                    <div class="form-group" id="datasets">
                        <label>Datasets:</label><br/>
                        <label>Examples</label>
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="exampleDataRadio1"
                                   name="exampleDataRadio"
                                   value="laparotomy" checked>
                            <label for="exampleDataRadio1" class="custom-control-label"
                                   style="font-weight: 400 !important;">Abdominal pain data (n = 225, p = 3)</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="exampleDataRadio2"
                                   name="exampleDataRadio"
                                   value="exampleData2">
                            <label for="exampleDataRadio2" class="custom-control-label"
                                   style="font-weight: 400 !important;">DMD data (n = 120, p = 5)</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="exampleDataRadio3"
                                   name="exampleDataRadio"
                                   value="exampleData3">
                            <label for="exampleDataRadio3" class="custom-control-label"
                                   style="font-weight: 400 !important;">Simulation data (n = 500, p = 3)</label>
                        </div>


                        <div class="mt-2">
                            <small class="text-muted" style="display: block; line-height: 1.4;">
                                <strong> n:</strong> number of observations
                            </small>
                            <small class="text-muted" style="display: block; font-weight: 500;">
                                <strong> p:</strong> number of variables
                            </small>
                        </div>
                    </div>

                    <div class="form-group roc-analysis-advanced" style="display: none;">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" name="advancedCheckBox"
                                   id="advancedCheckBox" value="Advanced">
                            <label for="advancedCheckBox" class="custom-control-label">Advanced</label>
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group advancedCheckBox" style="display: none;">
                        <label for="optimalCutOff">Select a method for optimal cut-off</label>
                        <select id="optimalCutOff" class="form-control select2bs4" style="width: 100%;">
                            <option value="Youden" selected>Youden</option>
                            <option value="CB">CB</option>
                            <option value="MCT">MCT</option>
                            <option value="MinValueSp">MinValueSp</option>
                            <option value="MinValueSe">MinValueSe</option>
                            <option value="ValueSp">ValueSp</option>
                            <option value="ValueSe">ValueSe</option>
                            <option value="MinValueSpSe">MinValueSpSe</option>
                            <option value="MaxSp">MaxSp</option>
                            <option value="MaxSe">MaxSe</option>
                            <option value="MaxSpSe">MaxSpSe</option>
                            <option value="MaxProdSpSe">MaxProdSpSe</option>
                            <option value="ROC01">ROC01</option>
                            <option value="SpEqualSe">SpEqualSe</option>
                            <option value="MaxEfficiency">MaxEfficiency</option>
                            <option value="Minimax">Minimax</option>
                            <option value="MaxDOR">MaxDOR</option>
                            <option value="MaxKappa">MaxKappa</option>
                            <option value="MinValueNPV">MinValueNPV</option>
                            <option value="MinValuePPV">MinValuePPV</option>
                            <option value="ValueNPV">ValueNPV</option>
                            <option value="ValuePPV">ValuePPV</option>
                            <option value="MinValueNPVPPV">MinValueNPVPPV</option>
                            <option value="PROC01">PROC01</option>
                            <option value="NPVEqualPPV">NPVEqualPPV</option>
                            <option value="MaxNPVPPV">MaxNPVPPV</option>
                            <option value="MaxSumNPVPPV">MaxSumNPVPPV</option>
                            <option value="MaxProdNPVPPV">MaxProdNPVPPV</option>
                            <option value="ValueDLR.Negative">ValueDLR.Negative</option>
                            <option value="ValueDLR.Positive">ValueDLR.Positive</option>
                            <option value="MinPvalue">MinPvalue</option>
                            <option value="ObservedPrev">ObservedPrev</option>
                            <option value="MeanPrev">MeanPrev</option>
                            <option value="PrevalenceMatching">PrevalenceMatching</option>
                        </select>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group advancedCheckBox" style="display: none;">
                        <label for="direction">Direction</label>
                        <select id="direction" class="form-control select2bs4" style="width: 100%;">
                            <option selected="selected">auto</option>
                            <option><</option>
                            <option>></option>
                        </select>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group advancedCheckBox" style="display: none;">
                        <label for="confidenceLevel">Confidence Level</label>
                        <input type="number" id="confidenceLevel" class="form-control" step="0.01" value="0.95"
                               style="width: 100%;">
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.card-body -->

                <div class="form-group row">
                    <button id="btn-save" type="button" class="btn btn-primary"><i class="fa-solid fa-angles-right"></i>
                        Next
                    </button>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div>
    <!-- /.col -->
    <div class="overlay-wrapper col-md-9">
        <div id="data-list">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="analysisTable" class="table table-bordered table-hover dataTable">
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="/static/js/indexed-db-manager.js"></script>
<script src="/static/js/data-upload.js?2"></script>

{% endblock %}