{% extends "layout.html" %}

{% block title %}Analiz Sayfası - {{ title }}{% endblock %}
{% block pageTitle %}About{{ pageTitle }}{% endblock %}

{% block content %}
<div class="card mt-3">
    <div class="card-boy mt-3">
        <div class="row mt-3">

            <div class="col-sm-2">
                <img src="static/img/index/func.png" style="width:100%;height:auto">
            </div>

            <div class="col-sm-9" role="main">
                <h4>
                    <b>Interactive and comprehensive tool for combining two diagnostic tests.</b>
                </h4>
                <div class="row">
                    <div class="col-xl-6"><p class="mr-xl-5" style="margin-left:45px;margin-top:24px">Diagnostic tests
                        are
                        widely
                        used for purposes of distinguishing diseases from each other and making the correct
                        diagnosis for the patients. Therefore, the role of the diagnostic tests in making decisions is
                        crucial. In
                        addition to having an essential role in medical diagnosis, these tests also contribute to
                        planning
                        the
                        proper treatment while reducing treatment costs.
                        The diagnostic accuracy performance and reliability of these diagnostic tests are taken into
                        account
                        when
                        making these tests widely available. For some conditions, more than one diagnostic test may be
                        available.
                        Some of these diagnostic tests may even replace
                        existing methods because they have better performance. In many studies, new diagnostic test
                        performance
                        measures with superior performance were obtained by using multiple diagnostic tests instead of
                        one.
                        The
                        dtComb package includes diverse combination methods,
                        data standardization, and resampling methods available for combining two diagnostic tests. </p>
                    </div>
                    <div class="col-xl-6"><img class="ml-xl-2" src="static/img/index/roc-plot.png"
                                               style="width:auto;height:400px;"></div>
                </div>

                <p> Here the web-tool application is presented to implement the combination approaches available in
                    the dtComb package. This application allows users to upload their own data (Data Upload tab), build
                    models
                    (Analysis tab), present the results (Graphs tab)
                    and make new predictions (Predict tab) from the model built. More detailed information about the
                    combination
                    methods and approaches through this web-tool and dtComb package can be found in the paper of the
                    package. All
                    source codes are in GitHub.</p>
                <div class="row col-12 justify-content-center">
                    <div class="col-md-4">
                        <img src="static/img/index/density_plot.png" style="width:65%;height:auto">
                    </div>
                    <div class="col-md-4">
                        <img src="static/img/index/individual-value.png" style="width:74%;height:auto">
                    </div>
                    <div class="col-md-4">
                        <img src="static/img/index/sens-spec-curve.png" style="width:74%;height:auto">
                    </div>
                </div>

                <p align="justify"> If you use this tool for your research please cite:</p>
            </div>

        </div>
    </div>
</div>

{% endblock %}