{% extends "layout.html" %}

{% block title %}Analiz Sayfası - {{ title }}{% endblock %}
{% block pageTitle %}About{{ pageTitle }}{% endblock %}

{% block content %}
<div class="row">

    <div class="col-sm-3">
        <style>
            @media screen and (min-width: 1251px) {
                .menu-container {
                    max-width: 350px;
                    background: #e4e5e7;
                    /*margin:40px auto;*/
                    padding: 10px 0px 20px 0px;
                    /*border:1px solid #111;*/
                    border-radius: 4px;
                    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.75);
                    position: fixed;
                    min-width: 300px;
                }
            }

            @media screen and (max-width: 1250px) {
                .menu-container {
                    max-width: 350px;
                    background: #e4e5e7;
                    /*margin:40px auto;*/
                    padding: 10px 0px 20px 0px;
                    /*border:1px solid #111;*/
                    border-radius: 4px;
                    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.75);
                    min-width: 300px;
                }
            }

            .menu-link {
                font-size: 16px;
                font-weight: 300;
                /* text-align:center;*/

                position: relative;
                height: 35px;
                line-height: 40px;
                /* margin-top:10px;*/
                overflow: hidden;
                width: 90%;
                margin-left: 10%;
                cursor: pointer;
            }

            .menu-link:after {
                content: '';
                position: absolute;
                width: 80%;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                bottom: 50%;
                left: -100%;
                transition-delay: all 0.5s;
                transition: all 0.5s;
            }

            .menu-link .menu-text {
                text-shadow: 0px -40px 0px rgba(0, 0, 0, 1);
                transition: all 0.75s;
                transform: translateY(100%) translateZ(0);
                transition-delay: all 0.25s;
            }

            .menu-link .menu-text a {
                color: inherit;
                text-decoration: none;
            }

            .menu-link:hover .menu-text,
            .menu-link.hover .menu-text {
                text-shadow: 0px -40px 0px rgba(0, 0, 0, 1);
                transform: translateY(0%) translateZ(0) scale(1.01);
                font-weight: 600;
                /*margin-left: 10px;*/
            }

            .sub {
                margin-left: 20px;
            }
        </style>
        <div class="menu-container">
            <div class="menu-link">
                <div class="menu-text"><a href="#DataUpload">Data Upload</a></div>
            </div>
            <div class="menu-link">
                <div class="menu-text"><a href="#combAppro">Combination Approach</a></div>
            </div>
            <div class="menu-link">
                <div class="menu-text sub"><a href="#linComb">Linear Combination Methods</a></div>
            </div>
            <div class="menu-link">
                <div class="menu-text sub"><a href="#nonlinComb">Nonlinear Combination Methods</a></div>
            </div>
            <div class="menu-link">
                <div class="menu-text sub"><a href="#mathComb">Mathematical Operators</a></div>
            </div>
            <div class="menu-link">
                <div class="menu-text sub"><a href="#mlComb">Machine-Learning Algorithms</a></div>
            </div>
            <div class="menu-link">
                <div class="menu-text"><a href="#resampling">Resampling methods</a></div>
            </div>
            <div class="menu-link">
                <div class="menu-text"><a href="#standardiza">Standardization methods</a></div>
            </div>
            <div class="menu-link">
                <div class="menu-text"><a href="#outputs">Outputs</a></div>
            </div>
            <div class="menu-link">
                <div class="menu-text sub"><a href="#plots">Plots</a></div>
            </div>
            <div class="menu-link">
                <div class="menu-text"><a href="#predict">Predict</a></div>
            </div>
        </div>

        <script>
            //For Demo only
            var links = document.getElementsByClassName('link')
            for (var i = 0; i <= links.length; i++)
                addClass(i)


            function addClass(id) {
                setTimeout(function () {
                    if (id > 0) links[id - 1].classList.remove('hover')
                    links[id].classList.add('hover')
                }, id * 750)
            }
        </script>
    </div>
    <div class="col-sm-8" role="main">
        <h3>Usage of the web-tool:</h3>
        <h4 id="DataUpload">Data upload</h4>
        <p> Load your data set in *.txt file format using this tab.</p>
        <ul>
            <li><p> Rows must represent the observations and each column must represent the variables.</p></li>
        </ul>
        <ul>
            <li><p> First row must be a header which indicates the variable names.</p></li>
        </ul>
        <div style=""><img src="static/img/manual/dataUpload.png" width="400/"><img src="static/img/manual/dataUpload2.png"
                                                                                     width="840/"></div>
        <br>
        <h4 id="combAppro">Combination Approach</h4>
        <p>Use this tab to combine diagnostic tests. <b>dtComb</b> supports 142 combination methods for combining
            diagnostic
            tests.</p>
        <ul>
            <li><p>First, it is decided which one to choose in the 4 main combination approaches. There are 8
                combination
                methods in linear combination approach, 7 in non-linear combination approach, 14 in mathematical
                operators
                and 113 combination methods in machine learning algorithms.</p></li>
        </ul>
        <ul>
            <li><p>After selected the combination approach, one of the methods available in the approach is
                selected. </p>
            </li>
        </ul>
        <div style=""><img src="static/img/manual/CombinationApp.png" width="400/"></div>
        <b id="linComb">Linear Combination Methods</b>
        <ul>
            <li><p><i> Scoring </i></p></li>
        </ul>
        <ul> The binary logistic regression model is used. However, for a more straightforward interpretation, slope
            values
            are rounded to a given <b>digit number</b>, and the combination score is computed.
        </ul>
        <ul>
            <li><p><i> Su &amp; Liu's </i></p></li>
        </ul>
        <ul> Su and Liu's combination score is obtained by using <b>Fisher's discriminant function</b> under the
            assumption
            of a multivariate normal distribution model and proportional covariance matrices.
        </ul>
        <ul>
            <li><p><i> Logistic regression </i></p></li>
        </ul>
        <ul> A binary logistic regression model is fitted using the <b>maximum-likelihood method</b>.</ul>
        <ul>
            <li><p><i> Min-Max </i></p></li>
        </ul>
        <ul> This method linearly combines the minimum and maximum values of the markers by finding a <b> parameter
            α </b>
            that maximizes the corresponding <b>Mann-Whitney statistic</b>.
        </ul>
        <ul>
            <li><p><i> Pepe &amp; Thompson's </i></p></li>
        </ul>
        <ul>Uses the same binary logistic regression model. The combination score is obtained by proportioning the slope
            values to calculate the <b>α parameter</b> .
        </ul>
        <ul>
            <li><p><i> Pepe, Cai &amp; Langton's </i></p></li>
        </ul>
        <ul>Pepe, Cai, and Langton combination score is obtained by using <b>AUC as the parameter</b> of a logistic
            regression model
        </ul>
        <ul>
            <li><p><i> Minimax </i></p></li>
        </ul>
        <ul>Minimax method is an extension of Su &amp; Liu's method.</ul>
        <ul>
            <li><p><i> Todor &amp; Saplacan's</i></p></li>
        </ul>
        <ul>Todor and Saplacan's method uses trigonometric functions to calculate the combination score. The combination
            score is obtained by the <b> <i>t</i> value</b> that optimizes the corresponding AUC.
        </ul>
        <div style=""><img src="static/img/manual/linComb.png" width="400/"></div>
        <b id="nonlinComb">Nonlinear Combination Methods</b>
        <ul>
            <li><p><i> Polynomial Regression </i></p></li>
        </ul>
        <ul> The method builds a logistic regression model with the feature space created and returns the probability of
            a
            positive event for each observation. It is implemented with <b>degrees</b> of the fitted polynomials taken
            from
            the user.
        </ul>
        <ul>
            <li><p><i> Ridge Regression </i></p></li>
        </ul>
        <ul> Ridge regression is a penalizing method used to estimate the coefficients of highly correlated variables
            and in
            this case the polynomial feature space created from two biomarkers. For the implementation of the method, <a
                    href="https://cran.r-project.org/web/packages/glmnet/index.html" target="_blank"> glmnet</a> library
            is
            used with two functions: <a
                    href="https://www.rdocumentation.org/packages/glmnet/versions/4.1-4/topics/cv.glmnet"
                    target="_blank">
                cv.glmnet()</a> to run a cross validation model to determine the tuning parameter <b> λ </b> and <a
                    href="https://www.rdocumentation.org/packages/glmnet/versions/4.1-4/topics/glmnet" target="_blank">
                glmnet()</a> to fit the model with the selected tuning parameter.It is implemented with <b>degrees</b>
            of
            the fitted polynomials taken from the user.
        </ul>
        <ul>
            <li><p><i> Lasso Regression </i></p></li>
        </ul>
        <ul> Lasso regression is also a penalizing method with one difference is that at the end this method returns the
            coefficients of <b>some features as 0</b>, makes this method useful for feature elimination as well. The
            implementation is similar to Ridge regression, cross validation for parameter selection and model fit are
            implemented with <a href="https://cran.r-project.org/web/packages/glmnet/index.html" target="_blank">
                glmnet</a>
            library.It is implemented with <b>degrees</b> of the fitted polynomials taken from the user.
        </ul>
        <ul>
            <li><p><i> Elastic-Net Regression </i></p></li>
        </ul>
        <ul> Elastic Net regression is obtained by combining the penalties of Ridge and Lasso regression to get the best of
            both models. The model again includes a tuning parameter <b> α </b> as well as a <b> mixing parameter λ </b>
            taken form the user which takes a value between 0 (ridge) and 1 (lasso) to determine the weights of the loss
            functions of Ridge and Lasso regressions. It is implemented with <b>degrees</b> of the fitted polynomials
            taken
            from the user.
        </ul>
        <b>In nonlinear approaches, polynomial, ridge and lasso regression methods, an interaction that may exist
            between
            two diagnostic tests can be included in the model. For this, the Include of interaction option must be
            selected
            as TRUE.</b>
        <ul>
            <li><p><i> Splines </i></p></li>
        </ul>
        <ul>With the applications of regression models in a polynomial feature space the second non-linear approach to
            combining biomarkers comes from applying several regression models to the dataset using a function derived
            from
            piecewise polynomials. Splines are implemented with <b>degrees of freedom</b> and <b>degrees</b> of the
            fitted
            polynomials taken from the user. For the implementation <a
                    href="https://www.rdocumentation.org/packages/splines/versions/3.6.2" target="_blank"> splines</a>
            library is used to build piecewise logistic regression models with base splines.
        </ul>
        <ul>
            <li><p><i> Smoothing Splines and Natural Cubic Splines</i></p></li>
        </ul>
        <ul>In addition to the basic spline structure, Generalized Additive Models are applied with natural cubic
            splines
            and smoothing splines using the <a href="https://cran.r-project.org/web/packages/gam/index.html"
                                               target="_blank"> gam</a> library in R. It is implemented with <font
                    face="consolas">degrees of freedom</font> taken from the user.
        </ul>
        <div style=""><img src="static/img/manual/nonlin.png" width="400/"></div>
        <b id="mathComb">Mathematical Operators</b>
        <ul>
            <li><p><i> Arithmetic Operators: </i></p></li>
        </ul>
        <ul><font face="consolas">Add</font>, <font face="consolas">Subtract</font>, <font
                face="consolas">Multiply</font>
            ve <font face="consolas">Divide</font> methods represent basic arithmetic operators.
        </ul>
        <ul>
            <li><p><i> Distance Measures:</i></p></li>
        </ul>
        <ul> The distance measures included in the package are <font face="consolas">Euclidean</font>, <font
                face="consolas">Manhattan</font>, <font face="consolas">Chebyshev</font>, <font
                face="consolas">Kulczynski_d</font>, <font face="consolas">Lorentzian</font>, <font
                face="consolas">Avg</font>, <font face="consolas">Taneja</font>, and <font
                face="consolas">Kumar-Johnson</font>.
        </ul>
        <ul>
            <li><p><i> Exponential functions </i></p></li>
        </ul>
        <ul> These methods, in which one of the two diagnostic tests is taken as base and the other as an exponent, are
            indicated by the names <font face="consolas">baseinexp</font> (markers<sub>1</sub>
            <sup>markers<sub>2</sub></sup>) and <font face="consolas">expinbase</font> (markers<sub>2</sub>
            <sup>markers<sub>1</sub></sup>).
        </ul>
        <div style=""><img src="static/img/manual/mathComb.png" width="400/"></div>
        <b id="mlComb">Machine-Learning Algorithms</b>
        <ul>
            <li><p> 113 machine learning algorithms available in the <a
                    href="https://cran.r-project.org/web/packages/caret/index.html" target="_blank"> caret</a>, library
                which are used to train classification models using machine learning algorithms and make predictions
                using
                these models, are used within the scope of Machine-Learning Algorithms.IMPORTANT: See <a
                        href="https://topepo.github.io/caret/available-models.html" target="_blank"> available-model</a>
                for
                further information about the methods used in this methods. All resampling and Preprocessing methods
                included in the Caret package can also be used in dtComb while content is ML algorithms.</p></li>
        </ul>
        <div style=""><img src="static/img/manual/mlComb.png" width="400/"></div>
        <br>
        <h4 id="resampling">Resampling methods</h4>
        <ul>
            <li><p><b> Cross-validation</b> performs with the <font face="consolas">number of folds</font></p></li>
        </ul>
        <ul>
            <li><p><b> Repeated cross-validation</b> performs with the <font face="consolas">number of repeats</font>
                and
                <font face="consolas">number of folds</font></p></li>
        </ul>
        <ul>
            <li><p><b> Bootstrap</b> performs with the <font face="consolas">number of resampling iterations</font>.</p>
            </li>
        </ul>
        <div style=""><img src="static/img/manual/resample.png" width="400/"></div>
        <br>
        <h4 id="standardiza">Standardization methods</h4>
        <ul>
            <li><p><b>Range:</b> Standardization to a range between 0 and 1. </p></li>
        </ul>
        <ul>
            <li><p><b>z-Score:</b> Standardization using z scores with mean equals to 0 and standard deviation equals to
                1.
            </p></li>
        </ul>
        <ul>
            <li><p><b>t-Score:</b> Standardization using T scores. The range varies between usually 20 and 80.</p></li>
        </ul>
        <ul>
            <li><p><b>Mean:</b> Standardization with sample mean equals to 1.</p></li>
        </ul>
        <ul>
            <li><p><b>Deviance:</b> Standardization with sample standard deviation equals to 1.</p></li>
        </ul>
        <div style=""><img src="static/img/manual/standardize.png" width="400/"></div>
        <br>
        <h4>There are options under the Advanced checkbox, such as cuttoff method, direction, and confidence
            levels.</h4>
        There are 34 methods available to determine the optimum cutoff. Cutoff methods can be found in the <a
            href="https://cran.r-project.org/web/packages/OptimalCutpoints/index.html"
            target="_blank">OptimalCutpoints</a>
        package of R.
        <div style=""><img src="static/img/manual/advanced.png" width="400/"></div>
        <br>
        <br>
        <h3 id="outputs">Outputs</h3>
        <p> When the analysis is complete, the <b>Download Model</b> button appears. With the help of this button, then
            the
            user can download the model he has trained to make predictions.</p>
        <div style=""><img src="static/img/manual/downloadbutton.png" width="900"></div>
        <h4>ROC Curve</h4>
        <p>An <b>ROC Curve</b> appears you when the analysis is complete. Here you can see ROC Curve of both the
            generated
            Combination Score, Marker 1 and Marker 2.</p>
        <div style=""><img src="static/img/manual/ROCplot.png" width="900"></div>
        <br>
        <br>
        <h4>AUC Table</h4>
        <p>Under <b>AUC Table</b> subtab, you can get area under the curve (AUC) value and its standard error,
            confidence
            interval and statistical significance, instantly. </p>
        <div style=""><img src="static/img/manual/AUCtable.png" width="900"></div>
        <br>
        <br>
        <h4>ROC Coordinates</h4>
        <p>Each false positive and true positive points can be found under <b>ROC Coordinates</b> subtab for each
            marker.
        </p>
        <div style=""><img src="static/img/manual/roccordinate.png" width="900"></div>
        <br>
        <br>
        <h4>Multiple Comparisons Table</h4>
        <p><b>Multiple Comparisons Table</b> alt tab can be used to make pairwise statistical comparisons for ROC curves
            of
            two markers and combination scores.</p>
        <div style=""><img src="static/img/manual/multiTable.png" width="900"></div>
        <br>
        <br>
        <h4>Cut points</h4>
        <ul>
            <li><p>The user can see the cut-off method selected in the <b>advance section</b>, the Criterion and the
                cut-off
                point determined by this method. </p></li>
        </ul>
        <div style=""><img src="static/img/manual/cuttoff.png" width="900"></div>
        <br>
        <br>
        <h4>Performance Measures</h4>
        <ul>
            <li><p>The <b>confusion matrix</b> and <b>Performance Measures</b> created with the cutoff method chosen by
                the
                user can be seen.</p></li>
        </ul>
        <br>
        <br>
        <div style=""><img src="static/img/manual/perform.png" width="900"></div>
        <h4 id="plots">Plots</h4>
        <ul>
            <li>
                <p>
                    <b>Kernel density graphs, Individual-value graphs and Sensitivity&amp;Specifity graphs</b>
                    belonging to Combination score, Marker 1 and Marker 2 can be viewed in the relevant sub-tabs.
                </p>
            </li>
        </ul>
        <div style=""><img src="static/img/manual/distPlot.png" width="350"><img src="static/img/manual/sct.png"
                                                                                  width="350/"><img
                src="static/img/manual/sensspe.png" width="350"></div>
        <br>
        <br>
        <h4 id="predict">Predict</h4>
        <ul>
            <li><p> The user can predict by loading the test data with the model that has been trained. The user can
                predict
                by loading the test data with the model that has been trained. Another option is to make a prediction on
                the
                same model by reloading the previously downloaded model. </p></li>
        </ul>
        <div style=""><img src="static/img/manual/predict1.png" width="500"><img src="static/img/manual/predict2.png"
                                                                                  width="500"></div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(async function () {
        $("#li-roc-analysis").hide();
        $('a[href="manuel"]').addClass('active');
        $("#li-analysis").show();
        $("#li-predict").show();
    });
</script>
{% endblock %}