{% extends "layout.html" %}

{% block title %}Sayfa Yapım Aşamasında - {{ title }}{% endblock %}
{% block pageTitle %}Sayfa Yapım Aşamasında{% endblock %}

{% block content %}

<div class="row" style="">
    <div class="col-md-3 fixed-sidebar" style="">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">


                <div class="card-body" style="padding: 0.25rem !important;">
                    <div class="form-group">
                        <label>Input new data</label>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="uploadModelSwitch">
                            <label class="custom-control-label" for="uploadModelSwitch"
                                   style="font-weight: 400 !important;">Upload
                                Model</label>
                        </div>
                    </div>
                    <div class="form-group" id="upload-model" style="display: none;">
                        <label for="uploadModelFile">Upload Model</label>
                        <div class="input-group mb-2">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="uploadModelFile">
                                <label class="custom-file-label" for="uploadModelFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <label for="exampleInputFile">Upload Data</label>

                        <div class="input-group mb-2">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="exampleInputFile">
                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                            </div>
                        </div>
                        <label>Delimiter</label>
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="delimiterRadio1" name="delimiterRadio"
                                   value="comma">
                            <label for="delimiterRadio1" class="custom-control-label"
                                   style="font-weight: 400 !important;">Comma</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="delimiterRadio2" name="delimiterRadio"
                                   value="tab" checked>
                            <label for="delimiterRadio2" class="custom-control-label"
                                   style="font-weight: 400 !important;">Tab</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="delimiterRadio3" name="delimiterRadio"
                                   value="semicolon">
                            <label for="delimiterRadio3" class="custom-control-label"
                                   style="font-weight: 400 !important;">Semicolon</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="delimiterRadio4" name="delimiterRadio"
                                   value="space">
                            <label for="delimiterRadio4" class="custom-control-label"
                                   style="font-weight: 400 !important;">Space</label>
                        </div>

                        <div class="mt-2">
                            <small class="text-muted" style="display: block; line-height: 1.4;">
                                <i class="fas fa-info-circle mr-1"></i>
                                You can upload your data separated by comma, tab, semicolon or space.
                            </small>
                            <small class="text-muted" style="display: block; font-weight: 500;">
                                <strong> Note:</strong> First row must be the header including the variable names.
                            </small>
                        </div>
                    </div>

                    <!-- /.form-group -->
                </div>
                <!-- /.card-body -->

                <div class="form-group row">
                    <button id="btn-calculate" type="button" class="btn btn-primary"><i class="fas fa-calculator"></i> Calculate</button>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div>
    <!-- /.col -->
    <div class="overlay-wrapper col-md-9">
        <div id="analysis">
            <div class="card">

                <div class="card-body">
                    <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-content-below-data-upload-tab" data-toggle="pill"
                               href="#custom-content-below-data-upload" role="tab"
                               aria-controls="custom-content-below-data-upload"
                               aria-selected="true">Data Upload</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-content-below-result-tab" data-toggle="pill"
                               href="#custom-content-below-result" role="tab"
                               aria-controls="custom-content-below-result" aria-selected="false">Result</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="custom-content-below-tabContent">
                        <div class="tab-pane fade show active" id="custom-content-below-data-upload" role="tabpanel"
                             aria-labelledby="custom-content-below-data-upload-tab">
                            <div class="col-12 mt-2 pl-0 pr-0">
                                <table id="analysisTable" class="table table-bordered table-hover mt-3">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                        <div class="tab-pane fade" id="custom-content-below-result" role="tabpanel"
                             aria-labelledby="custom-content-below-result-tab">
                            <div class="col-12 mt-2 pl-0 pr-0">
                                <table id="predictTable" class="table table-bordered table-hover mt-3">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="/static/js/indexed-db-manager.js"></script>
<script>
    $('#btn-calculate').on('click', async function () {
        // 1. Temel analiz bilgilerini al
        // 4. Backend'e Gönder
        let uploadedData = await dbManager.get_data_uploaded()
        let analysisData = await dbManager.get_data_analysis()
        let delimiter = await dbManager.get_setting("predictDelimiter")
        let data = {
            uploadedData: uploadedData,
            analysisData: analysisData,
            delimiter: delimiter
        }

        console.log(data)
        $.ajax({
            url: '/predict-data',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            beforeSend: function () {
                showLoader('analysis');
                $('#btn-calculate').prop('disabled', true).html('<i class="fas fa-spinner fa-spin"></i> Calculating...');
            },
            success: async function (response) {
                fillPredictionTable(response.predict_data)
                $('#custom-content-below-result-tab').tab('show');
            },
            error: function (xhr) {
                $('#btn-calculate').prop('disabled', false).html('<i class="fas fa-calculator"></i> Calculate');
                hideLoader('analysis');
            },
            complete: function () {
                $('#btn-calculate').prop('disabled', false).html('<i class="fas fa-calculator"></i> Calculate');
                hideLoader('analysis');
            }
        });

    });


</script>
<script>
    let dataTableSettings = {
        "responsive": true,
        "lengthChange": true,
        "autoWidth": false,
        "dom": "<'row'<'col-sm-12 col-md-8 d-flex align-items-center'B l><'col-sm-12 col-md-4 text-right'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        "buttons": [
            {
                extend: 'copy',
                className: 'btn btn-custom-color btn-sm' // 'btn-custom-color' özel sınıfımız
            },
            {extend: 'csv', className: 'btn btn-custom-color btn-sm'},
            {extend: 'excel', className: 'btn btn-custom-color btn-sm'},
            {extend: 'pdf', className: 'btn btn-custom-color btn-sm'},
            {extend: 'print', className: 'btn btn-custom-color btn-sm'}
        ],
        "language": {"lengthMenu": "_MENU_", "search": "Search:"}
    };
    // upload-model
    $("#uploadModelSwitch").on("change", function () {
        if ($(this).is(':checked')) {
            // Eğer seçiliyse (checked) göster
            $("#upload-model").fadeIn(400);
        } else {
            // Seçili değilse gizle
            $("#upload-model").fadeOut(400);
        }
    })

    // Dosya seçildiğinde tetiklenir
    $('#exampleInputFile').on('change', async function () {
        let file = this.files[0];
        if (!file) return;

        // Arayüzü güncelle
        $('[for="exampleInputFile"]').html(file.name);
        let delimiter = $('input[name="delimiterRadio"]:checked').val();

        // 1. DOSYAYI OKU VE INDEXEDDB'YE KAYDET
        const reader = new FileReader();

        // Okuma işlemi bittiğinde çalışacak olan olay (Event)
        reader.onload = async function (e) {
            const rawString = e.target.result; // Dosyanın orijinal metin hali

            try {
                // Loader'ı göster
                $('#global-loader').show();

                // Veritabanı işlemlerini yap
                await dbManager.save_data_uploaded(rawString);
                await dbManager.set_setting("predictDelimiter", delimiter);
                await dbManager.set_setting("predictFileName", file.name); // Dosya adını da saklayalım
                // 2. BACKEND VE TABLO GÜNCELLEME
                // uploadAndRefreshTable fonksiyonu içerisinden rawString'i
                // veya doğrudan inputları kullanabilirsin.
                await uploadAndRefreshTable();

            } catch (error) {
                console.error("Dosya işleme hatası:", error);
            } finally {
                $('#global-loader').fadeOut('fast');
            }
        };

        // Dosya okumayı BAŞLAT (Kritik satır!)
        reader.readAsText(file);
    });

    // Dosya seçildiğinde tetiklenir
    $('#uploadModelFile').on('change', async function () {
        let file = this.files[0];
        if (!file) return;

        // Arayüzü güncelle
        $('[for="uploadModelFile"]').html(file.name);

        // 1. DOSYAYI OKU VE INDEXEDDB'YE KAYDET
        const reader = new FileReader();

        // Okuma işlemi bittiğinde çalışacak olan olay (Event)
        reader.onload = async function (e) {
            const rawString = e.target.result; // Dosyanın orijinal metin hali

            try {
                // Loader'ı göster
                $('#global-loader').show();

                // Veritabanı işlemlerini yap
                await dbManager.save_data_analysis(rawString);
                await dbManager.set_setting("uploadModelFileName", file.name); // Dosya adını da saklayalım

            } catch (error) {
                console.error("Dosya işleme hatası:", error);
            } finally {
                $('#global-loader').fadeOut('fast');
            }
        };

        // Dosya okumayı BAŞLAT (Kritik satır!)
        reader.readAsText(file);
    });

    async function uploadAndRefreshTable() {

        const storedData = await dbManager.get_data_uploaded();
        let delimiter = $('input[name="delimiterRadio"]:checked').val();
        await dbManager.set_setting("delimiter", delimiter);

        const formatted = await formatDataByDelimiter(storedData);
        updateTableAndDropdowns(formatted);
    }

    // Ham veriyi (raw string) sütunlara ayıran fonksiyon
    async function formatDataByDelimiter(rawContent) {
        const delimiter = await getDelimiterChar();

        const lines = rawContent.trim().split(/\r?\n/); // Satırlara böl
        if (lines.length === 0) return null;

        const headers = lines[0].split(delimiter).map(h => h.trim()); // Başlıklar
        const data = lines.slice(1).map(line => {
            const values = line.split(delimiter);
            let row = {};
            headers.forEach((header, index) => {
                row[header] = values[index] ? values[index].trim() : "";
            });
            return row;
        });

        return {columns: headers, data: data};
    }

    // Seçili ayırıcı karakterini döndüren yardımcı fonksiyon
    async function getDelimiterChar() {
        const val = $('input[name="delimiterRadio"]:checked').val();
        await dbManager.set_setting("predictDelimiter", val)
        switch (val) {
            case 'tab':
                return '\t';
            case 'semicolon':
                return ';';
            case 'space':
                return ' ';
            case 'comma':
            default:
                return ',';
        }
    }

    // Hem örnek veri hem de yüklenen veri için ortak güncelleme fonksiyonu
    function updateTableAndDropdowns(response) {
        // A. Tabloyu Temizle ve Yeniden Kur
        if ($.fn.DataTable.isDataTable('#analysisTable')) {
            $('#analysisTable').DataTable().destroy();
        }
        $('#analysisTable').empty();

        let headerRow = '<thead><tr><th>#</th>';
        response.columns.forEach(col => {
            headerRow += `<th>${col}</th>`;
        });
        headerRow += '</tr></thead>';

        let tbody = "<tbody>";
        response.data.forEach((row, index) => {
            let rowHtml = `<tr><td>${index + 1}</td>`;
            response.columns.forEach(col => {
                rowHtml += `<td>${row[col] || ''}</td>`;
            });
            rowHtml += '</tr>';
            tbody += rowHtml;
        });
        tbody += '</tbody>';
        $('#analysisTable').append(headerRow + tbody);

        // DataTable'ı başlat (Daha önce belirlediğimiz #175f76 rengiyle)
        $('#analysisTable').DataTable(dataTableSettings);

    }

    function fillPredictionTable(predictionData) {
        const tableId = '#predictTable';

        if ($.fn.DataTable.isDataTable(tableId)) {
            $(tableId).DataTable().clear().destroy();
            $(tableId).empty();
        }

        let settings = Object.assign({}, dataTableSettings, {
            data: predictionData,
            order: [[0, 'asc']],
            columns: [
                {
                    title: "#",
                    data: null,
                    width: "5%",
                    className: "text-center", // Hücreyi ortalar
                    render: (data, type, row, meta) => meta.row + 1
                },
                {
                    title: "Combination Score",
                    data: "combScore",
                    className: "text-center", // Hem ortalar hem eğik yapar
                    render: d => d ? Number(d).toFixed(4) : "-"
                },
                {
                    title: "Label",
                    data: "label",
                    className: "text-center", // Hücreyi ortalar
                    render: d => d
                }
            ]
        });

        $(tableId).DataTable(settings);
    }

</script>
{% endblock %}