{% extends "layout.html" %}

{% block title %}Sayfa Yapım Aşamasında - {{ title }}{% endblock %}
{% block pageTitle %}Sayfa Yapım Aşamasında{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 60vh;">
    <div style="text-align: center;">
        <img src="/static/img/index/func.png" alt="Yapım Aşamasında" style="width:120px; margin-bottom: 20px;">
        <h2>Bu sayfa yapım aşamasındadır.</h2>
        <p>Kısa süre içinde aktif olacaktır.</p>
    </div>
</div>
{% endblock %}